{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "style.css" %}">
        <title>Elabore Ordens de Serviços</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    <body>
        <h2>Elabore Ordens de Serviços</h2>

        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link" href="{% url "pg_criar_ordemservico" %}">Ordem de Serviço</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{% url "pg_criar_cliente" %}">Cliente</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url "pg_criar_empresa" %}">Empresa</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url "pg_criar_produto" %}">Produto</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url "pg_criar_categoria" %}">Categoria</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url "pg_criar_servico" %}">Serviço</a>
            </li>
        </ul>
        
        {% for os in ordemservicos %}
            <div class="card">
                <div class="rotulo-card">
                    <span>{{ os.cliente.nome }}</span>
                    <span>{{ os.data_servico }}</span>
                </div>
                
                <ul>
                    {% for servico in os.servico.all %}
                        <li>{{ servico.tipo_servico }} - R$ {{ servico.valor_servico }} - {{ servico.empresa }}</li>
                    {% endfor %}
                </ul>
                
                <span class="valor-total">R$ {{ os.valor_total }}</span>

                <a class="valor-total" href="{% url "pg_excluir_ordemservico" os.id %}">
                    <span>Excluir OS</span>
                </a>
            </div>
        {% endfor %}

    </body>
</html>
